@font-face {
    font-family: 'SuttonyMJ';
    src: url('SutonnyMJ.ttf') format('truetype');
}

.text-area.bijoy {
    font-family: 'SuttonyMJ', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
}
.text-area {
    width: 45%;
}
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button {
    margin: 10px;
}